
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dbabb8cc;

}

.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding: 5px 12px;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
}

.nav-links ul li:hover a{
    border-bottom: 2px solid purple;
    color: purple;
}
nav li.active {
    border-bottom: 2px solid purple;
  } 