
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    box-sizing: border-box;

  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  button {

    background-color: #d6004b;
    color: white;
    padding: 10px 10px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.7;
  }
  
  button:hover {
    opacity:1;
  }
  input:checked + label {
    color: #262cdb;
  }
